<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Image Upscaler</title>


  <!-- Favicons -->
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/bootstrap.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">
</head>
<style>
  #s_button {
    width:100px;
    background-color: #000069;
    border: none;
    color:#fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
	border-radius: 10px;
    cursor: pointer;

  }

  .form {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	}
</style>

<body>


  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/uploader">Image Upscaler</a></h1>
        <!-- 로고 클릭시 메인화면으로 -->

      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
        {%if nickname%}
          <li><a href="#pricing"></a></li>
          <li><a href="/history">History</a></li>
          <li><a href="/logout">Logout</a></li>
        {%else%}


          <li><a href="#pricing"></a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>

        {%endif%}
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->


  <main id="main">

    <section class="inner-page" style="height: 800px;">
      <div style="margin-top: 30px;">
        <div class="container" style="padding-top: 30px;">
          <div class="section-title" data-aos="zoom-out">
            <h2>Contact</h2>
            <p>회원가입</p>
          </div>
        </div>

        <div class="container" style="padding-top: 30px;">
          <form action="/signup" method="post">
            <div class="form">
              <div class="col-md-6 form-group">
                <input type="text" name="id" class="form-control" id="id" placeholder="ID" data-rule="minlen:4" data-msg="ID는 4글자 이상입니다" />
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input type="password" class="form-control" name="pw" id="pw" placeholder="password"  data-rule="minlen:4" data-msg="비밀번호는 4자리 이상입니다" />
                <div class="validate"></div>
              </div>

            </div>


            <div class="text-center" style="margin-top: 30px;">

              <button id="s_button" type="submit">확인</button>
            </div>
          </form>
        </div>


      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
   <footer id="footer">
    <div class="container">
      <h3>Image Upscaler</h3>
      <p>Web Programming Term Project</p>
    </div>
  </footer><!-- End Footer -->

  <script src="/static/assets/js/main.js"></script>

</body>

</html>